version: "5.0.1"
services:
  node-app:
    container_name: express-node-app-container
    ports:
      - "8000:4000"
    env_file:
      - ./.env
  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-db:/data/db
    environment: 
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
  redis:
    image: redis

volumes:
  mongo-db:
